<%= form_with(model: url_shortener) do |form| %>
  <% if url_shortener.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(url_shortener.errors.count, "error") %> prohibited this url_shortener from being saved:</h2>

      <ul>
        <% url_shortener.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url_given %>
    <%= form.text_area :url_given %>
  </div>

  <div class="field">
    <%= form.label :url_shortened %>
    <%= form.text_field :url_shortened %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
